<div class="back-arrow">
  <div class="arrow-back-div">
    <mat-icon routerLink="/home">arrow_back</mat-icon>
  </div>
  <div class="recent-head-div">
    <p class="recent-head-fvt">Recent Search</p>
  </div>
  <div class="search-bar-div">
    <mat-icon class="serach-bar-icon">search</mat-icon>
  </div>
</div>



<div class="container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="content">

<div *ngIf="fav ; then Avail ; else notAvail"></div>

<ng-template  #notAvail>
    <div class="nothing">
      <div class="nothing-image">
        <img src="/assets/icon_nothing.png">
      </div>
      <div class="nothing-text">
        No Favourites added
      </div>
    </div>
</ng-template>

<ng-template #Avail>
    <div class="city">
      <div class="no-city">
        You recently searched for
      </div>
      <div class="remove" (click)="removeFav()">
        Clear All
      </div>
    </div>

    <div class="fav-cities" *ngFor="let data of getRecentList" (click)="navigateToHome(data)">
      <div class=fav-city>
        {{data.name}}
      </div>
      <div class="fav-contents">
        <div class="fav-img">
          <img src="http://openweathermap.org/img/wn/{{this.data['weather'][0].icon}}@2x.png" alt="">
        </div>
        <div class="fav-temp">
          {{(data.main.temp -273.15).toFixed(0)}} <span class="fav-deg">&#176;C</span>
        </div>
        <div class="fav-weather">
          {{data['weather']['0'].description|titlecase}}
        </div>
      </div>
      <div>
        <mat-icon class="fav-icon">favorite_border</mat-icon>
      </div>
    </div>
  </ng-template>

  </div>
</div>