<div class="container">
  <app-header></app-header>
  <div class="content">
    <!-- <div class="nothing">
      <div class="nothing-image">
        <img src="/assets/icon_nothing.png">
      </div>
      <div class="nothing-text">
        No Favourites added
      </div>
    </div> -->

    <div class="city">
      <div class="no-city">
        You recently searched for
      </div>
      <div class="remove" (click)="removeFav()">
        Clear All
      </div>
    </div>

    <div class="fav-cities">
      <div class=fav-city>
        udupi,karantaka
      </div>
      <div class="fav-contents">
        <div>
          <img src="/assets/icon_mostly_sunny_small.png" alt="">
        </div>
        <div class="fav-temp">
          31 <span class="fav-deg">&#176;C</span>
        </div>
        <div class="fav-weather">
          Mostly Sunny
        </div>
      </div>
      <div>
        <mat-icon class="fav-icon">favorite_border</mat-icon>
      </div>
    </div>

    <div class="fav-cities">
      <div class=fav-city>
        udupi,karantaka
      </div>
      <div class="fav-contents">
        <div>
          <img src="/assets/icon_mostly_sunny_small.png" alt="">
        </div>
        <div class="fav-temp">
          31 <span class="fav-deg">&#176;C</span>
        </div>
        <div class="fav-weather">
          Mostly Sunny
        </div>
      </div>
      <div>
        <mat-icon class="fav-icon">favorite_border</mat-icon>
      </div>
    </div>

  </div>
</div>