.nothing{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}
.nothing-text{
  padding-top: 20px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
}
.city{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 20px;
}
.no-city{
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
  padding-inline-start: 0.4rem;
}
.remove{
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  padding-inline-end: 0.8rem; 
}

.fav-cities{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(255,255,255, 0.2);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  /* margin:0 2%; */
  margin-bottom: 1px;
  
  
}
.fav-contents{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.fav-city{
  
  color:white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  padding-inline-start: 0.5rem;
}
.fav-temp{
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 38px;
}
.fav-deg{
  
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
.fav-weather{
color: #FFFFFF;
font-family: Roboto;
font-size: 18px;
letter-spacing: 0;
line-height: 21px;
}
.fav-icon{
padding-inline-end: 30px;}

.back-arrow {
  display: none;
}



 @media screen and (max-width:580px){
  .container{
    width: 95%;
  }
  .fav-cities{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 9vh;
  }
  .fav-city{
    position: absolute;
    left: 2%;
  }

  .fav-contents{
    position: absolute;
    top: 47%;
    left: 3%;
    
  }
  .fav-icon{
    position: absolute;
    right: 0%;
    top: 36%;
  }
  .fav-img img{
    width:30px;
    height: 30px;
  }
  .fav-temp{
    color: #FFFFFF;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  }
  .fav-deg{
    color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
  }
.fav-weather{
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}
.header{
  display: none;
}
.back-arrow {
  display: block;
  background-color: white;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.arrow-back-div{
padding-inline-start: 1rem;
}
.recent-head-fvt{
  color: #292F33;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  text-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
}
.recent-head-div{
  width: 60%;
}
.search-bar-div{
padding-inline-end: 1rem;

}
.city{
  padding-top: 5px;
}

 }


