<div>
  <app-header></app-header>
  <app-navbar></app-navbar>
  <div class="people-detail-maindiv1">
    <div class="people-detail-maindiv2">
      <div class="img-div">
        <img src="/assets/yodhaaa.jpg" alt="" id="yoda-size" />
      </div>
      <div class="detail-div">
        <h1 class="heading-name">{{people.name}}</h1>
        <span>Designation:Sentient Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam perferendis eius consequatur pariatur cupiditate placeat itaque quo hic nemo atque! Laborum eligendi et repudiandae hic incidunt commodi officia blanditiis! Fuga corporis sequi pariatur a.</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
        <span>Designation:Sentient</span>
      </div>
    </div>
  </div>
  <div class="foot">
  <app-footer></app-footer>
</div>
</div>