/* main1{
  display: flex;
  background-color: aquamarine;
} */
 /*.main{
  /* position: relative; */
  /* background-image: url(/assets/background.png); */
  /* background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 174.2%;
  background-position-x: center; */
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;  */
/* }
.main2{
  /* margin: 5%; */
/* } */ 
/* .backgrond-image{
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.content{
  position: absolute;
  left: 10%;
  top: 6%;
}
.input{
  position: absolute;
} */
/* .Wind img{
  height: 80%;
  width: 100%;
} */
.main{
  background: url('/assets/background.png') no-repeat center center/cover;
  height: 100vh;
 /* width: 100vw;  */
 object-fit: cover;
 display: flex; 
 justify-content: center;
 align-items: center;
 /* position: relative; */
 /* padding: 0 7%; */
 /* margin: 3% 10%; */
 /* margin-left: 10%;
 margin-right: 10%; */
 /* width: 80vw;  */
}
.main2{
  /* background-color: aqua; */
  width: 80vw;
  height: 90vh;
  /* display: flex;  */
  /* justify-content: center;
  align-items: center; */
  position: relative;
}
.header{
  /* width: 100vw;  */
  display: flex;
  justify-content: space-between  ;

} 
.search{
  display: flex;
  justify-content: space-around;
   align-items: center; 
  justify-items: center;
  left:10%
}
.input{
  /* position: absolute; */
}
.icon{
  position: relative;
  right: 8%;
  /* align-self:flex-end;
  justify-self: flex-end; */
}
.input input{
  /* width: 200%;
  height: 6.5%;*/
} 
.logo img{
  position: absolute;
  top: 2%;
}
#input1{
  padding: 1rem;
  size:2rem;
  background-color: rgba(255,255,255,0.3);
  border: #FFFFFF solid 0.5px;
  width:35rem;
  border-radius: 2px;
  opacity:0.3;
}
.mat-icon{
  color: white;
}
ul{
  padding-inline-start: 1%;
  margin-block-end: 0em;
  margin-inline-end: 0px;
  display: flex;
}
.navbar ul{
  list-style-type: none;
  overflow: hidden;
  width:60vw;
  /* left:1% */
}
.navbar li{
  float: left;
  /* display: flex; */
  /* left:1% */
  margin-right: 5%;
}
.navbar a{
  /* height: 2.18%;
  width: 5.67%; */
  text-decoration: none;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
}
.navbar{
  top:10%;
  width: 80vw;
  position: absolute;
  /* display: inline; */
  display: flex;
  /* float: left; */
  justify-content: space-between;
  border-bottom: 1px solid white;
}
a:hover{
  color: #FFD639 !important;
  width: 30%;
}
.date{
  top:1%;
  padding-top: 15px;
  color: #FFFFFF;
padding-inline-end:  1%;

}
.location{
  position: absolute;
  top:20.5%;
  left: 0.5%;
  /* height: 3.49%;
  width: 12.75%; */
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
.fav-icon{
  position: absolute;
  left:0.5%;
  top:25.5%;
}
.fav-text{
 position: absolute;
  /* height: 4.18%; */
  /* width: 10.83%; */
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 3px;
  top:26%;
  left:2.5%
  /* margin-top: 10px; */
  /* padding-bottom: px; */
   /* bottom: 1%; */
}
.sunny img{
  position: absolute;
  /* width:8%; */
  top:33%;
  left: 45%;
}
.temperature{
  position: relative;
  top:39%;
  width:80vw;
  display: flex;
  justify-content: center;
  right: 4%;
  /* align-items: center; */
}
.temp{
  height: 10.9%;
  width: 6.08%;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 75px;
}

/* .temp-unit button {
  background-color: transparent;
  border: 1px solid white; 
  color: white; 
  padding: 5px 10px;
  cursor: pointer; 
  float: left; 
  box-sizing: border-box;
} */

.temp-unit {
  position: absolute;
  /* text-align: left; */
  /* box-sizing: border-box; */
  left:53% ;
top:37%;
}
.temp-unit button {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color:transparent;
  padding: 5px;
  cursor: pointer;
  float: left;
}
.temp-unit:after {
  content: "";
  clear: both;
  display: table;
}
.temp-unit button:not(:last-child) {
  border-right: none; 
}
.temp-unit button:hover {
  background-color:white;
  color:#E32843;;
}
.temp-button{
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
hr{
  position: relative;
  top: 53%;
  /* size: 20px; */
}
.most-sunny{
  position: absolute;
  top:55%;
  left:43%;
  /* height: 3.63%;
  width: 11%; */
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 23px;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
}

.footer{
  position: absolute;
  display: flex;
  /* flex-wrap: wrap; */
  bottom:25%;
  justify-content: space-around;
  width: 80vw;
}
.Min-Max{
  /* width: 3vw; */
  display: flex;
  /* justify-content:space-evenly; */

}
.Precipitation{
  display: flex;
}
.Humidity{
  display: flex;
}
.Wind{
  display: flex;
}
.Visibility{
  display: flex;
}
.footer-text1{
  /* height: 2.62%;
  width: 5.5%; */
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
  padding-bottom: 10%;
}
.footer-text2{
  /* height: 3.63%;*/
  width: 200%; 
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
}
.aa{
padding-right: 15%;
}
/* .footer-text2{
  width: 30%;
} */
/* .aaa{
  width: 100%;

} */
::placeholder{
  color: white;
  font-weight: bold;
  font-size: 1rem;
}