html{
  box-sizing: border-box;
}
.main{
  background: url('/assets/background.png') no-repeat center center/cover; 
  object-fit: cover;
  color: white;
  min-height: 100vh;
}
.container{
  width: 84%;
  margin: auto;
}
.icon{
  text-align: left;
}
.search{
  text-align: right;
}
.input{
  position: relative;
}
#search{
  position: relative;
}

input{
  padding: 13px;
  box-sizing: border-box;
  height: 6.54%;
  width: 80%;

  border: 1px solid rgba(255, 255, 255, 0.2);
  /* opacity: 0.3; */
  border-radius: 3px;
  background-color: transparent;
  z-index: 99999;

  background-color: rgba(255, 255, 255, 0.2);
}
.serach-icon{
  position: absolute;
  top: 28%;
  right: 3%;
  color: #ffffff;
}
::placeholder {
  opacity: 0.7;
  /* font-weight: 10px; */
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
/* .home,
.nav-link,
.favourite,
.recent-search,
.wed-28-nov-2018-11 {
  font-family: Roboto;
  line-height: 16px;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
  color: #ffffff;
}

li.nav-item {
  padding: 0px 15px;
}

.navbar-nav {
  /* border-bottom: 1px solid #FFFFFF; */
/* }  */

ul {
  padding-inline-start: 1%;
  margin-block-end: 0em;
  margin-inline-end: 0px;
  display: flex;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  width: 40vw;
  /* left:1% */
}


.navbar li {
  /* height: 2.18%;
width: 5.67%; */
  text-decoration: none;
  /* color: #FFFFFF; */
  font-family: Roboto;
  font-size: 13px;
  float: left;
  letter-spacing: 0;
  margin-right: 10%;
  line-height: 15px;
}

.navbar {
  padding-top: 2%;
  width: auto;
  /* position: absolute; */
  /* display: inline; */
  display: flex;
  /* float: left; */
  /* justify-content: space-between; */
  /* border-bottom: 1px solid white; */
}

.date {
  top: 1%;
  padding-top: 15px;
  color: #FFFFFF;
  padding-inline-end: 1%;
}
.position {
  position: absolute;
  top: 40px;
}

.wed-28-nov-2018-11 {
  text-align: right;
  font-size: 15px;
  font-weight: 10px;
}

.active {
  border-bottom: 2px solid #ffd639;
  color: #ffd639;

}
.line-copy {
  /* position: absolute; */
  box-sizing: border-box;
  height: 1px;
  border: 1px solid #ffffff;
  opacity: 0.3;
  /* top:19% */
  /* padding-bottom: -10px; */

}
.nothing {
  margin-top: 284px;
}
.No-favourite-added {
  margin-top: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
}
.city-added-remove {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
}

.city-added-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
}

table {
 
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  /* border: 1px solid #ddd; */
}
th {
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 8px;
  padding: 15px;
}
tr {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid red;
}
.main-table {
  border-collapse: separate;
  border-spacing: 0 1px;
}

/* tr:nth-child(even){background-color: #f2f2f2} */

.table-location {
  /* color: #FFE539; */
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  /* padding: 10px; */
  width:47%;
}

.related-img {
  height: 3.16%;
  width: 1.78%;
}

.related-deg {
  color: #ffffff;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 38px;
}
.related-msg {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
}
.cel-faren {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  padding-right: 10px;
}

.related-fav {
  text-align: end;
}
.checkbtn {
  float: left;
  cursor: pointer;
  position: fixed;
  left: 3%;
  top: 7%;
  display: none;
  /* line-height: 80px; */
}

#check {
  display: none;
}






@media screen and (max-width: 769px) {
  input {
    width: 60%;
  }

  .input {
    padding-bottom: 10px;
  }
}


@media screen and (max-width:735px) {
  .navbar ul {

    width: 40vw;
    /* left:1% */
  }

  .navbar li {

    margin-right: 5%;

  }
}


@media screen and (max-width:605px) {
  .navbar ul {

    width: 40vw;
    /* left:1% */
  }

  .navbar li {

    margin-right: 2%;

  }
}

@media screen and (max-width:547px) {
  .navbar ul {

    width: 40vw;
    /* left:1% */
  }

  .navbar li {

    margin-right: 0%;

  }
}


@media screen and (max-width: 500px) {
  input {
    display: none;
  }

  .checkbtn {
    position: absolute;
    left: -5%;
    top: -20%;
    display: block;
    padding-right: 10%;
  }

  .icon {
    position: absolute;
    left: 18%;
    top: 4%;
  }

  .serach-icon {
    position: absolute;
    top: -100%;
    right: -100%;
  }

  ul {
    display: none;
  }

  .line-copy {
    display: none;
  }

  .date {
display: none;
}
}