.main {
  background: url('/assets/background.png') no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* padding: 0 7%; */
  /* margin: 3% 10%; */
  /* margin-left: 10%;
margin-right: 10%; */
  /* width: 80vw;  */
}

.main2 {
  /* background-color: aqua; */
  width: 80vw;
  height: 90vh;
  /* display: flex;  */
  /* justify-content: center;
align-items: center; */
  position: absolute;
}

.header {
  /* width: 100vw;  */
  display: flex;
  justify-content: space-between;

}

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  left: 10%
}

.input {
  /* position: absolute; */
}

.icon {
  position: relative;
  right: 8%;
  /* align-self:flex-end;
justify-self: flex-end; */
}

.input input {
  /* width: 200%;
height: 6.5%;*/
}

.logo img {
  position: absolute;
  top: 2%;
}

#input1 {
  padding: 1rem;
  size: 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: #FFFFFF solid 0.5px;
  width: 35rem;
  border-radius: 2px;
  opacity: 0.3;
}

.mat-icon {
  color: white;
}

ul {
  padding-inline-start: 1%;
  margin-block-end: 0em;
  margin-inline-end: 0px;
  display: flex;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  width: 60vw;
  /* left:1% */
}

.navbar li {
  float: left;
  /* display: flex; */
  /* left:1% */
  margin-right: 5%;
}

.navbar a {
  /* height: 2.18%;
width: 5.67%; */
  text-decoration: none;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
}

.navbar {
  top: 10%;
  width: 80vw;
  position: absolute;
  /* display: inline; */
  display: flex;
  /* float: left; */
  justify-content: space-between;
  border-bottom: 1px solid white;
}

a:hover {
  color: #FFD639 !important;
  width: 30%;
}

.date {
  top: 1%;
  padding-top: 15px;
  color: #FFFFFF;
  padding-inline-end: 1%;

}

.nothing-main {
  position: absolute;
  top: 45%;
  left: 43%;
  height: auto;
}

.nothing-text {
  position: absolute;
  height: auto;
  width: 105%;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
  padding-top: 15%;
}

.fav-remove {
  position: absolute;
  justify-content: space-between;
  display: flex;
  top: 17%;
  width: 80vw
}

.added {
  /* height: auto;
  width: auto; */
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 15px;
  padding-inline-start: 0.5%;

}

.remove {
  /* height: 2.18%;
  width: 5.5%; */
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  text-align: right;
  padding-inline-end: 1%;

}

::placeholder {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  /* border: 1px solid #ddd; */
}

th {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  padding: 15px;
}

tr {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid red;
}

.main-table {
  border-collapse: separate;
  border-spacing: 0 1px;
}

/* tr:nth-child(even){background-color: #f2f2f2} */
.table-location {
  /* color: #FFE539; */
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 19px;
  /* padding: 10px; */
}

.related-img {
  height: 3.16%;
  width: 1.78%;
}



.related-deg {
  color: #ffffff;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 38px;
}

.related-msg {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
}

.cel-faren {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  padding-right: 10px;
}

.related-fav {
  position: absolute;
  text-align: end;
  padding-left: 2%;
}
.table-main{
  position: absolute;
  top:21%;
}