<div class="line1"></div>
<div class="webfooter">
<div class="footer">
  <div class="footer-img">
    <img src="/assets/footer_logo.png" alt="" width="120px" height="40px">
  </div>
  <div class="f1">
    TERMS OF USE
  </div>
  <div class="f2">
    LEGAL NOTICES
  </div>
  <div class="f3">
    PRIVACY POLICY
  </div>
  <div class="f4">
    STAR WARS HELPDESK
  </div>
  <div class="f5">
    STARWARS AT DISNEY STORE
  </div>
</div>
</div>
<div class="mblfooter">
<div class="foot1">
  <div>
    TERMS OF USE
  </div>
  <div>
    LEGAL NOTICES
  </div>
  <div>
    PRIVACY POLICY
  </div>
</div>
<div class="foot2">
  <div>
    HELPDESK
  </div>
  <div>
    STARWARS AT DISNEY STORE
  </div>
</div>
</div>
<div class="copywrite">
  TM & &copy; Lucas Films Ltd. All Rights Reserved
</div>