.people-detail-maindiv1 {

  background-color: rgb(117, 188, 255, 0.1);

  width: 61%;
  /* height: 30%; */
  margin: auto;

  margin-top: 60px;
  margin-bottom: 50px;

}

.people-detail-maindiv2 {

  display: flex;

  margin: auto;

  width: 85%;

  /* justify-content: space-between; */
  /* text-align: start; */

}

#yoda-size {

  width: 90%;

  height: 77%;

}

.detail-div {

  display: flex;

  justify-content: flex-start;

  /* align-items: center; */

  flex-direction: column;

  width: 90%;
  /* font-size: 14px; */
  font-family: "Open Sans", sans-serif;
  font-weight: 0;
  margin-top: 63px;
  margin-bottom: 41px;

  overflow-y: auto;

  height: 310px;
  line-height: 45px; 
  overflow-x: hidden;
  color: white;
}

.img-div {

  display: flex;

  justify-content: flex-start;

  align-items: center;
  width: 60%;


}

.heading-name {
font-size: 35px;
  color: white;

  font-family: "Open Sans", sans-serif;

  text-align: start;

}

::-webkit-scrollbar,

::-webkit-scrollbar-thumb,

::-webkit-scrollbar-track {

  width: 4px;
  /* padding-left: 30px; */

  /* border: none; */

  /* background: transparent; */

}

::-webkit-scrollbar-button,

::-webkit-scrollbar-track-piece,

::-webkit-scrollbar-corner,

::-webkit-resizer {

  display: none;

}

::-webkit-scrollbar-thumb {

  background-color: #00a8ff;

}

::-webkit-scrollbar-track {

  background-image: url("https://i.imgur.com/GvV1R30.png");

  opacity: 90%;

  background-repeat: repeat-y;

  background-size: contain;

  background-color: transparent;

}

.foot {
  padding-top: 40px;
}
.designation{
  color: #A5C1D3;
  font-size: 17px;
}
.designation-data{
  color: white;
  font-size: 17px;
  font-size: bolder;
}
@media screen and (max-width:700px) {
  .people-detail-maindiv2 {
    flex-direction: column;
  }

  .people-detail-maindiv1 {
    width: 80%;
    margin-top: 38px;
    background-color: transparent;
  margin-bottom: 0px;

  }

  .detail-div {
    height: 250px;
  width: 90%;

  }

  .detail-div::-webkit-scrollbar {

    display: none;

  }
  .designation{
    color: #A5C1D3;
    font-size: 15px;
  }
  .designation-data{
    color: white;
    font-size: 15px;
    font-size: bolder;
  }

.foot {
  padding-top: 0px;
}
.detail-div {
  margin-top: 0px;
}
.img-div {
  width: 100%;
  height: 400px;
}
}