.parent{
  border-radius: 5px;
  background-color: #fb9292;
  padding: 20px;
  width: 400px;
  margin: 30px auto;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}