.navbar{

  display: flex;
width: 60%;
margin: auto;
justify-content: space-around;
border-bottom: 1px solid #2E6E9A;
/* padding-top: 13px;
padding-bottom: 13px; */
color: white;
align-items: center;
cursor: pointer;
}

.navbar div{
  width: 100%;
  font-size: 14px;
  padding:0 10px;
  /* font-weight: 600; */
  display: flex;
  justify-content: center;
  padding-top: 13px;
  font-family: 'Open Sans', sans-serif; 

padding-bottom: 13px;
/* padd */

}

/* .a{
  background:rgba(13,168,255,0.45)
} */

.active{
background:rgba(13,168,255,0.4);

}



@media screen and (max-width:700px) {
  .navbar{
    overflow-x: auto;
    width: 100%;
    justify-content: left;

  }
  .navbar div{
    padding-inline-start: 1rem;
  font-size: 11px;

  }
  .a{
    background:rgba(13,168,255,0.65)    
  }
}