<div class="mat-display-4">dispaly 4</div>
<div class="mat-display-3">dispaly 3</div>
<div class="mat-display-2">dispaly 2</div>
<div class="mat-display-1">dispaly 1</div>

<div class="mat-headline">h1</div>
<div class="mat-title">h2</div>
<div class="mat-subheading-2">h3</div>
<div class="mat-subheading-1">h4</div>

<div class="mat-typography">
  <h1>h1</h1>
  <h2>h2</h2>
  <h3>h3</h3>
  <h4>h4</h4>
</div>

<div>
<button mat-button>BUTTON</button>
<button mat-raised-button>raised</button>
<button mat-flat-button>flat</button>
<button mat-stroked-button>stroked</button>
</div>
<hr>
<div>
  <button mat-icon-button>icon</button>
  <button mat-fab>fab</button>
  <button mat-mini-fab>mini fab</button>
</div>
<hr>
<div>
<!-- to apply color -->
<button color="primary" mat-button>primary</button>
<button color="accent" mat-button>accent</button>
<button color="warn" mat-button>warn</button>
</div>
<hr>
<div>
<button color="primary" mat-raised-button>primary</button>
<button color="accent" mat-raised-button>accent</button>
<button color="warn" mat-raised-button>warn</button>
</div>
<hr>
<!-- to disable repel element -->

<button mat-button disabled>Disabled</button>

<button color="primary" mat-button disableRipple >primary</button>
<br>



<!-- check box -->
<mat-checkbox > Hi</mat-checkbox>
<br>
<mat-checkbox labelPosition="before"> Hi</mat-checkbox>
<br>
<mat-checkbox labelPosition="before" color="primary"> Hi</mat-checkbox>
<br>
<!-- radio buttons -->
<mat-radio-group>
  <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
  <mat-radio-button value="js" color="warn">JavaScript</mat-radio-button>
  <mat-radio-button value="react">React</mat-radio-button>
</mat-radio-group>
<br>

<br>
<br><br><br>



<mat-checkbox>
  <label for="">options</label>
  <ul>
    <li><mat-checkbox>yes</mat-checkbox></li>
    <li><mat-checkbox>no</mat-checkbox></li>
  </ul>
</mat-checkbox>
<br>

<mat-form-field appearance="fill">
  <mat-label>name</mat-label>
  <input matInput required>
  <mat-hint align="end">min 5 charcters</mat-hint>
</mat-form-field>


<mat-form-field  >
  <mat-label>name</mat-label>
  <input matInput required>
  <mat-hint align="end">min 5 charcters</mat-hint>
</mat-form-field>