<div class="container">
  <app-header></app-header>
  <div class="home-content">
    <div>
      <img src="/assets/films_normal.png" alt="">
      <p class="names">FILMS</p>
    </div>
    <div>
      <img src="/assets/species_normal.png" alt="">
      <p class="names">SPECIES</p>
    </div>
    <div>
      <img src="/assets/planets_normal.png" alt="">
      <p class="names">PLANETS</p>
    </div>
    <div>
      <img routerLink='characterPage' src="/assets/characters_normal.png" alt="">
      <p class="names">PEOPLE</p>
    </div>
    <div>
      <img src="/assets/vehicles_normal.png" alt="">
      <p class="names">STARSHIP</p>
    </div>
    <div>
      <img src="/assets/droids_normal.png" alt="">
      <p class="names">VEHICLES</p>
    </div>
  </div>
  <app-footer></app-footer>
</div>