.container{
/* height: 100vh; */
width: 100%;

}
.home-content{
  /* background-color: azure; */
  margin: auto;
  width: 50%;
  height: 400px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* -ms-grid-row-align: center;
  -ms-grid-column-align: center; */
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 50px;
  column-gap: 70px;
  /* justify-content: space-between; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
}

.home-content img{
  width: 150px;
  /* height: 125px; */
}
.names{
  padding-top:5px ;
  font-size: 13px;
  color: #ffffff;
}


/* @media screen and  (max-width:869px){
.home-content{
  width: 52%;
}
}

@media screen and  (max-width:810px){
  .home-content{
    width: 53%;
  }
}
@media screen and  (max-width:770px){
  .home-content{
    width: 54%;
  }
} */

@media screen and  (max-width:700px){
  .home-content{
    grid-template-columns: repeat(2, auto);
    width: 80%;
  height: auto;

  }
  }