<div class="container">
  <app-header></app-header>
  <div class="place">
    <div class="place-name"> udupi,kundapura</div>
    <div class="fav">
      <mat-icon class="heart">favorite_border</mat-icon>
      <div class="add-fav">Add to favourite</div>
    </div>
  </div>


  <div class="middle">

    <div class="middle-img">
      <img src="/assets/icon_mostly_sunny.png" alt="">
    </div>

    <div class="temperature-main">
      <div class="temp" >87</div>
      <div class="temp-button">
        <button class="but">&#176;C</button>
        <button class="but">&#176;F</button>
      </div>
    </div>

    <div class="most-sunny">
      Mostly Sunny
    </div>

  </div>

  <div class="line"></div>

  <div class="footer">
    <!-- 1 -->
    <div class="foot">
      <div class="footer-img">
        <img src="/assets/icon_temperature_info.png">
      </div>
      <div class="abc">
        <div class="footer-text1">Min - Max</div>
        <div class="footer-text2">21-21</div>
      </div>
    </div>
    <!-- 2 -->
    <div class="foot">
      <div class="footer-img">
        <img src="/assets/icon_precipitation_info.png">
      </div>
      <div class="abc">
        <div class="footer-text1">Pressure</div>
        <div class="footer-text2">10000</div>

      </div>
    </div>
    <!-- 3 -->
    <div class="foot">
      <div class="footer-img">
        <img src="/assets/icon_humidity_info.png">
      </div>
      <div class="abc">
        <div class="footer-text1">Humidity</div>
        <div class="footer-text2">30%</div>
      </div>
    </div>
    <!-- 4 -->
    <div class="foot">
      <div class="footer-img">
        <img src="/assets/icon_wind_info.png">
      </div>
      <div class="abc">
        <div class="footer-text1">Wind</div>
        <div class="footer-text2">2000mph</div>
      </div>
    </div>
    <!-- 5 -->
    <div class="foot">
      <div class="footer-img">
        <img src="/assets/icon_visibility_info.png">
      </div>
      <div class="abc">
        <div class="footer-text1">Visibility</div>
        <div class="footer-text2">10000 mph</div>
      </div>
    </div>
  </div>

</div>