.place{
  padding-top: 50px;
  padding-inline-start: 0.5%;
}
.place-name{
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
}
.fav{
  display: flex;
  padding-top: 17px;
  width: 100%;
}
.add-fav{
  padding-top: 6px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
}
.heart{
  padding-right: 6px;
}

.temperature-main{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 35px;
}

.middle-img{
  padding-bottom: 10px;
}
.temp{
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  padding-right: 10px;
}

button:not(:last-child) {
  border-right: none;
}

button:hover {
  background-color: white;
  color: #e32843;

}

button {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  padding: 5px;
  /* padding-right: 50px; */
  cursor: pointer;
  margin-top: 1%;
  
}
.but {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  padding-right: 8px;
  /* padding-top: 10px; */
}

.temp-button{
  padding-top: 11px;
}

.most-sunny{
 color: #FFFFFF;
font-family: Roboto;
font-size: 22px;
letter-spacing: 0;
line-height: 25px;
text-align: center;
padding-bottom: 40px;
}

.line{
  border-bottom: 1px solid white;
  padding-top: 30px;
  opacity: 0.3;
  width: 100%;
}

.footer{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.foot{
  display: flex;
  /* width: 100%; */
}


.footer-text1{
color: #FFFFFF;
font-family: Roboto;
font-size: 15px;
letter-spacing: 0;
line-height: 18px;
padding-bottom: 5px;
}


.footer-text2{
color: #FFFFFF;
font-family: Roboto;
font-size: 22px;
font-weight: 500;
letter-spacing: 0;
line-height: 25px;
}

.footer-img{
  padding-right: 15px;
}
.abc{
  padding-top: 2px;
}
.color{
  color: yellow;
}
.no-color{
  color: white;
}

@media screen and (max-width:580px){

  .container{
    width: 100%;
    margin: 0;  
  }
  .place{
    width:100%;
    text-align: center;
    padding-top: 12px;
  }
  .place-name{
    width:100%;
    color: #FFFFFF;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 21px;

  }
  .fav{
    width:auto;
    margin-left: 39%;
    padding-top: 20px;
  }

.middle{
  padding-top: 100px;
}
  .footer{
    overflow-x: auto;
    width: 100%;
    flex: auto;
    justify-content: left;
    /* opacity: 0.1; */
  background-color: rgba(255, 255, 255, 0.1);
  height:21vh;
  }
  .temp{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 61px;
  }
  .most-sunny{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    padding-top: 8px;
  }
  .temperature-main{
  padding-top: 8px;
}

}

@media screen and (max-width:500px){
  .fav{
  margin-left: 37%;
}

}


@media screen and (max-width:450px){

  .fav{
    margin-left: 36%;
  }
  
}




@media screen and (max-width:400px){
  .fav{
    margin-left: 34%;
  }
  
} 

@media screen and (max-width:350px){
  .fav{
    margin-left: 32%;
  }
  
} 
@media screen and (max-width:300px){
  .fav{
    margin-left: 30%;
  }
  
} 