<div class="container">
  <app-header></app-header>
  <div class="place">
    <div class="place-name"> udupi,kundapura</div>
    <div class="fav">
      <mat-icon class="heart">favorite_border</mat-icon>
      <div class="add-fav">Add to favourite</div>
    </div>
  </div>


  <div class="middle">

    <div class="middle-img">
      <img src="/assets/icon_mostly_sunny.png" alt="">
    </div>

    <div class="temperature-main">
      <div class="temp" >87</div>
      <div class="temp-button">
        <button class="but">c</button>
        <button class="but">f</button>
      </div>
    </div>

    <div class="most-sunny">
      Mostly Sunny
    </div>

  </div>

  <div class="line" ></div>

</div>