.head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#text-input {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* border: none; */
  padding: 15px;
  /* height: 80%; */
  /* opacity: 0.4; */
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.116);
  width: 100%;
  /* height: 30%; */
}

.logo {
  /* width:60%; */
}

.search {
  width: 50%;
  position: relative;
  /* height: 10%; */
}

.icon {
  position: absolute;
  right: 2%;
  top: 28%;
}

::placeholder {
  height: 2.76%;
  opacity: 0.6;
  /* width: 6.58%;
  opacity: 0.8; */
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}

input#text-input {
  color: white;
  outline: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* padding-top: 2rem; */
  margin-top: 3rem;
  width: auto;
}

ul {
  display: flex;
  width: 100%;
  /* justify-content: space-around; */
  /* float: left; */
  padding-inline-start: 2%;
}

li {
  list-style: none;
  margin-right: 40px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;  
  letter-spacing: 0;
  line-height: 15px;
  /* width: 100% ; */
}

.active {
  color: #ffd639;
  border-bottom: 2px solid #ffd639;
  margin-bottom:-7px ;
}

.date {
  /* width: 50%; */
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
  padding-inline-end: 1%;

}

.line {
  border-bottom: 1px solid white;
  padding-top: 5px;
  opacity: 0.3;
}
.line1 {
  border-bottom: 1px solid white;
  padding-top: 5px;
  opacity: 0.3;
}

.menu {
  width: auto;
}

.nav-bar-mobile{
  display: none;
}

#menu{
  /* display: none; */
}
.date1{
  display: none;
}




@media screen and (max-width: 647px){

  li{
  margin-right: 30px;
  }
}


@media screen and (max-width: 637px){

  li{
  margin-right: 30px;
  }
}

@media screen and (max-width: 609px){

  li{
  margin-right: 25px;
  }
}
@media screen and (max-width: 599px){

  li{
  margin-right: 25px;
  }
}
@media screen and (max-width: 589px){

  li{
  margin-right: 25px;
  }
}



@media screen and (max-width:580px) {

  ul{
    display: none;
  }
  .line1{
    display: none;
  }
  input{
    display: none;
  }

  .logo{
    padding-top: 25px;
    margin-left: 6rem;
    width: 100%;
  }
.search{
  width: 100%;
}
  .icon{
    width: 100% ;
    text-align: end;
    display: flex;
    justify-content: end;
    position:absolute;
    /* padding-right: 2rem; */
    right: 15%;
    padding-top: 18px;
  }
.head{
  display: flex;
  /* justify-content: flex-end; */
  
  /* right: 5%; */
}

  /* .navbar{
  }
  .date{ */
    /* position: absolute; */
    /* display: flex;
text-align: center; 
width: 100%;
margin-top: 10%;
opacity: 0.6;
color: #FFFFFF;
font-family: Roboto;
font-size: 13px;
letter-spacing: 1.5px;
line-height: 15px;
padding-left: 6rem;
 } */

 .date{
  display: none;
 }
 .date1{
  display:block;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  opacity: 0.6;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  letter-spacing: 1.5px;
  line-height: 15px;
  padding-left: 11px;
  /* margin-left: 10%; */
 }


 #bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.bar {
height: 5px;
width: 100%;
background-color: #ffffff;
display: block;
border-radius: 5px;
transition: 0.3s ease;
}

#menu {
  position: absolute;
  width: 5%;
  height: 10%;
  /* margin: 30px 0 20px 20px; */
  top: 35px;
  left: 3%;
  cursor: pointer;
  z-index: 100;
}
.hanburgerClass {
  display: none;
}
.menuClass {
  display: block;
  /* transition: 0.4s ease-in-out; */
}

.nav-bar-mobile {

  /* display: block; */


  position: fixed;

  background-color: white;

  width: 75%;

  margin-top: -13%;

  height: 100%;

}
.home-mobile {

  padding: 18px 10px;
  color: black;

}


}