.mblHeader {
  padding-top: 40px;
  width: 85%;
  margin: auto;
  display: block;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.choiceCource {
  overflow-x: scroll;
  width: 100%;
  flex: auto;
  justify-content: left;
}

.main {
  margin-top: 15px;
}

.mblMain {
  display: block;
}


.mblSearchHeader {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.mblSearchHeaderP {
  margin: 0;
  color: #373737;
  font-family: 'Proxima Nova Soft';
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.39px;
  line-height: 28px;
  text-align: center;
  width: 51%;
}

.mblimg {
  display: flex;
  align-items: center;
}

.inputFilter {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.mblinput {
  width: 80%;
  position: relative;

}

.mblinput input {
  width: 100%;
  height: 35px;
  border: 1px solid #7A7A7A;
  border-radius: 6px;
}

.mbllimg {
  position: absolute;
  top: 25%;
  left: 3%;
}

.abcd {
  margin-top: 40px;
}


.topP {
  color: #2B2B2B;
  font-family: "Proxima Nova soft";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;

}

.topSearches {
  display: flex;
  flex-wrap: wrap;
  column-gap: 13px;
  row-gap: 12px;
  margin-top: 20px;
}

.topSearchesP {
  margin: 0;
  color: #373737;
  font-family: 'Proxima Nova Soft';
  font-size: 12.8px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  border-radius: 4px;
  background-color: #FCBE4B;
  padding: 5px 10px;

}

.topSearch {
  width: 85%;
  margin: auto;
}

.searchSecond {
  margin-top: 20px;
}


.catSearchP {
  color: #2B2B2B;
  font-family: 'Proxima Nova Soft';
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
}

.cat1 {
  display: flex;

  /* border: 1px solid #7A7A7A; */
  border: 1px solid rgba(122, 122, 122, 0.2);
  border-radius: 6px;
  column-gap: 10px;

  padding: 7px 13px;

}

.cat1 p {
  display: flex;
  align-items: center;
  margin: 0%;
  width: 100%;
  color: #2B2B2B;
  font-family: 'Proxima Nova Soft';
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  /* height: 0; */
}

.cat1212 {
  display: flex;
  flex-wrap: wrap;
  column-gap: 13px;
  row-gap: 13px;
  margin-top: 20px;
}

.catSearch {
  margin-top: 30px;
  width: 85%;
  margin: auto;
}

.mblSearch {
  position: absolute;
  top: 0%;
  z-index: 1;
  background-color: white;
  height: 100vh;
}
.mblSearch#blur.active{
  filter:brightness(50%);
}