.logo{
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.line{
  border-bottom: 1px solid #2E6E9A;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  /* opacity: 0.9; */
}

@media screen and (max-width:700px) {
  .line{
  width: 90%;
  margin-top: 25px;
  }
  .logo img{
    width: 120px;
    height: 60px;
  }
}