<div class="character-main">

  <app-header></app-header>
  <app-navbar></app-navbar>
  <div class="character-content">
    <div> <span>POOJASHREE SHETTY</span> </div>
    <div><span>THANUJA</span></div>
    <div><span>NITHIN</span></div>
    <div><span>RAHUL</span></div>
    <div routerLink='/characterDetails' ><span>NAGADARSHAN C NAIK</span></div>
    <div> <span>POOJASHREE SHETTY</span> </div>
    <div><span>THANUJA</span></div>
    <div><span>NITHIN</span></div>
    <div><span>RAHUL</span></div>
    <div><span>NAGADARSHAN C NAIK</span></div>
  </div>
  <div class="but">
    <div><button>PREVIOUS</button></div>
    <div><button>NEXT</button></div>
  </div>
  <app-footer></app-footer>
</div>